<h2 align="center">Detalle Prospecto</h2>


<form *ngFor="let item of prospecto">
    <fieldset>
        <legend>Detalle General</legend>

        <div class="row">
            <div class="col-2">
                <p>Nombre: </p>
            </div>
            <div class="col-2">
                <label>{{item.nombre}}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label>Apellido Paterno </label>
            </div>
            <div class="col-2">
                <label>{{item.apellidopaterno}}</label>
            </div>
            <div class="col-2">
                <label>Apellido Materno </label>
            </div>
            <div class="col-2">
                <label>{{item.apellidomaterno}}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label>RFC </label>
            </div>
            <div class="col-2">
                <label>{{item.rfc}}</label>
            </div>
            <div class="col-2">
                <label>Teléfono </label>
            </div>
            <div class="col-2">
                <label>{{item.telefono}}</label>
            </div>
        </div>

    </fieldset>
    <fieldset>
        <legend>Datos domicilio</legend>

        <div class="row">
            <div class="col-2">
                <label>Calle </label>
            </div>
            <div class="col-2">
                <label>{{item.calle}}</label>
            </div>
            <div class="col-2">
                <label>Número </label>
            </div>
            <div class="col-2">
                <label>{{item.numero}}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-2">
                <label>Colonia </label>
            </div>
            <div class="col-2">
                <label>{{item.colonia}}</label>
            </div>
            <div class="col-2">
                <label>Código Postal </label>
            </div>
            <div class="col-2">
                <label>{{item.codigo_postal}}</label>
            </div>
        </div>

    </fieldset>
    <fieldset>
        <legend>Datos Validación</legend>

        <div class="row">
            <div class="col-2">
                <label>Estatus </label>
            </div>
            <div class="col-2">
                <label>{{item.estatus}}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <label>Observaciones </label>
            </div>
            <div class="col-2">
                <label>{{item.observaciones}}</label>
            </div>
        </div>


    </fieldset>
    <fieldset>
        <legend>Documentación</legend>
        <div class="row">
            <div class="col-2">
                <label>Documentos </label>
            </div>
            <div class="col-2">
                <label>{{item.documentos}}</label>
            </div>
        </div>
    </fieldset>
</form><br>
<button [routerLink]="['listado']" (click)="Redireccionar()" type="button" class="boton_personalizado"> Regresar</button>