<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Descripcion rechazo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">

                <form action="">
                    <div class="form-group">
                        <label for="Descripcion">Descripcion de error</label>
                        <textarea name="descripcion" id="descripcion" rows="4"></textarea>
                    </div>
                    <button type="submit" class="btn primary">Guardar descripcion</button>
                </form>
                ...
            </div>

        </div>
    </div>
</div>