<form>
    <div class="col-8">
        <div class="row">
            <div class="col-11">
                <h2>Listado de Prospectos</h2>
            </div>
            <div class="col-1">
                <button class="boton_personalizado" type="button" (click)="Agregar()">Agregar</button>
            </div>
        </div>
    </div><br><br>



    <table class="table table-striped table-bordered" cellspacing="0" width="100%" border="1px">
        <thead>
            <tr>
                <th>nombre</th>
                <th>apellido paterno</th>
                <th>apellido materno</th>
                <th>estatus</th>
                <th></th>
            </tr>

        </thead>
        <tbody style="cursor:pointer">
            <tr *ngFor="let item of prospectos">
                <td [routerLink]="['/detalle']" [queryParams]="{id:item.id }">{{item.nombre}}</td>
                <td [routerLink]="['/detalle']" [queryParams]="{id:item.id }">{{item.apellidopaterno}}</td>
                <td [routerLink]="['/detalle']" [queryParams]="{id:item.id }">{{item.apellidomaterno}}</td>
                <td [routerLink]="['/detalle']" [queryParams]="{id:item.id }">{{item.estatus}}</td>
                <td [routerLink]="['/detalle']" [queryParams]="{id:item.id }" [hidden]="bandera3"> <button class="boton_personalizado" type="button" [routerLink]="['/evaluacion']" [queryParams]="{id:item.id }"> Evaluar </button> </td>
            </tr>

        </tbody>
    </table>
</form>