<div class="container">
    <h2 align="center">Pantalla de Captura de Prospecto</h2><br>


    <div class="row">
        <div class="col-2">
            <p>*Nombre: </p>
        </div>
        <div class="col-2">
            <input type="text" id="nombre" [(ngModel)]="formCaptura.nombre" name="nombre"><br>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <p>*Apellido Paterno: </p>
        </div>
        <div class="col-2">
            <input type="text" id="ApellidoPProspecto" [(ngModel)]="formCaptura.apellidopaterno" name="ApellidoPProspecto"><br>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <p>Apellido Materno: </p>
        </div>
        <div class="col-2">
            <input type="text" id="ApellidoMProspecto" [(ngModel)]="formCaptura.apellidomaterno" name="ApellidoMProspecto"><br>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <p>*Calle: </p>
        </div>
        <div class="col-2">
            <input type="text" id="CalleProspecto" [(ngModel)]="formCaptura.calle" name="CalleProspecto"><br>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <p>*Número: </p>
        </div>
        <div class="col-2">
            <input type="text" id="NumeroProspecto" [(ngModel)]="formCaptura.numero" name="NumeroProspecto"><br>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <p>*Colonia: </p>
        </div>
        <div class="col-2">
            <input type="text" id="ColoniaProspecto" [(ngModel)]="formCaptura.colonia" name="ColoniaProspecto"><br>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <p>*Código Postal: </p>

        </div>
        <div class="col-2">
            <input type="text" id="CodigoPostalProspecto" [(ngModel)]="formCaptura.codigo_postal" name="CodigoPostalProspecto"><br>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <p>*Telefono: </p>
        </div>
        <div class="col-2">
            <input type="text" id="TelefonoProspecto" [(ngModel)]="formCaptura.telefono" name="TelefonoProspecto"><br>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <p>*RFC: </p>
        </div>
        <div class="col-2">
            <input type="text" id="RFCProspecto" [(ngModel)]="formCaptura.RFC" name="RFCProspecto"><br>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <label>*Documentos: </label>
        </div>
        <div class="col-2">
            <input type="file" id="DocumentosProspecto" name="DocumentosProspecto" [(ngModel)]="formCaptura.documentos" multiple (change)="onChange($event)" multiple />
        </div>
    </div>

    <div class="row">
        <div class="col-2">
            <input type="button" class="boton_personalizado" (click)="guardar()" Value="Enviar">
        </div>
        <div class="col-2">
            <input type="submit" class="boton_personalizado" (click)="salir()" Value="Salir"><br>
        </div>
    </div>
</div>