.boton_personalizado {
    text-decoration: none;
    padding: 10px;
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

.boton_personalizado:hover {
    color: #1883ba;
    background-color: #ffffff;
}

.btn-glyphicon {
    padding: 8px;
    background: #7a7979;
    margin-right: 4px;
}

.icon-btn {
    padding: 1px 15px 3px 2px;
    border-radius: 50px;
}