<h2>Evaluación</h2>

<div class="container">
    <div class="row">
        <div class="col-8">
            <form *ngFor="let item of prospecto">
                <div class="form-group row">
                    <h4 for="colFormLabelSm">Detalle General</h4>
                </div>

                <div class="row">
                    <div class="col-3">
                        <p>nombre </p>
                    </div>
                    <div class="col-1">
                        <label>{{item.nombre}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">


                        <p>Apellido Paterno </p>

                    </div>
                    <div class="col-1">
                        <label>{{item.apellidopaterno}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">


                        <p>Apellido Materno </p>

                    </div>
                    <div class="col-1">
                        <label>{{item.apellidomaterno}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">


                        <p>Teléfono</p>

                    </div>
                    <div class="col-1">
                        <label>{{item.telefono}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">


                        <p>RFC</p>

                    </div>
                    <div class="col-1">
                        <label>{{item.rfc}}</label>
                    </div>
                </div>

                <div class="form-group row">
                    <h4 for="colFormLabelSm">Datos Domicilio</h4>
                </div>

                <div class="row">
                    <div class="col-3">

                        <p>calle </p>

                    </div>
                    <div class="col-3">
                        <label>{{item.calle}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">

                        <p>Número</p>

                    </div>
                    <div class="col-1">
                        <label>{{item.numero}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">

                        <p>Colonia</p>

                    </div>
                    <div class="col-3">
                        <label>{{item.colonia}}</label>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">

                        <p>Código Postal</p>

                    </div>
                    <div class="col-1">
                        <label>{{item.codigo_postal}}</label>
                    </div>
                </div>


                <div class="form-group row">
                    <h4 for="colFormLabelSm">Datos Validación</h4>
                </div>

                <div class="row">
                    <div class="col-3">

                        <p>Estatus</p>

                    </div>
                    <div class="col-1">
                        <label>{{item.estatus}}</label>
                    </div>
                </div>

                <div class="row" [hidden]="bandera">
                    <div class="col-3">

                        <p>Observaciones</p>

                    </div>
                    <div class="col-1">
                        <label>{{item.observaciones}}</label>
                    </div>
                </div>





                <div class="form-group row">
                    <h4 for="colFormLabelSm">Documentación</h4>
                </div>

                <div class="row">
                    <div class="col-3">

                        <p>Documentación</p>

                    </div>
                    <div class="col-1">
                        <label>{{item.documentacion}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-1">

                        <input type="button" class="boton_personalizado" (click)="Redireccionar()" Value="Regresar">

                    </div>
                </div>
            </form>

        </div>

        <div class="col-4">
            <div class="form-group row" [hidden]="bandera3">
                <input type="button" class="boton_personalizado" (click)="ActualizarProspecto()" Value="Autorizar">
                <input type="submit" class="boton_personalizado" (click)="MostrarRechazo()" Value="Rechazar">
            </div>
            <div [hidden]="bandera2">
                <div class="row">
                    <div class="col-3">

                        <textarea id="Observaciones" [(ngModel)]="formCaptura.observaciones" name="Observaciones" placeholder="escribir motivo de rechazo"></textarea>

                    </div>

                </div>
                <div class="col-3">
                    <input type="button" (click)="ActualizarProspecto()" Value="enviar">
                </div>
            </div>
        </div>

    </div>

</div>